<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="static/scrabble.css" type="text/css">
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/bootstrap.min.js"></script>
<script type="text/javascript" src="static/handlebars-v4.0.5.js"></script>
<script type="text/javascript" src="static/scrabble.js"></script>
<script id="word-template" type="text/x-handlebars-template">
    <table class="table">
        {{#each data}}
        <tr>
            <td class="word" onboard="{{ onboard }}">
                {{#wordRepr word onboard}}{{/wordRepr}}
            </td>
            <td>{{  cost  }}</td>  
            <td> 
                <a class="word-def"
                    href="https://ru.wiktionary.org/wiki/{{ word }}#.D0.97.D0.BD.D0.B0.D1.87.D0.B5.D0.BD.D0.B8.D0.B5"
                    target="_blank">?</a>
            </td>
        </tr>
        {{/each}}
    </table>
</script>
</head>
<body>
<form name="scrabble" method="GET" action="/words/">
    <div class="form-group letters">
        <label for="letters" class="control-label">Мои буквы</label>
        <input type="text" id="letters" class="form-control" name="letters" />
    </div>
    <div class="form-group board-strings">
        <label for="board-strings" class="control-label">Буква(ы) на доске</label>
        <input type="text" id="board-strings" class="form-control" name="board_strings" />
    </div>
    <button class="btn btn-primary" type="submit">Слова</button>
</form>
<div id="words">
</div>
</body>
</html>
